.link_detail_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}

.link_detail_lane {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.link_detail_lane_expired {
  font-size: 1rem;
  font-weight: 700;
  user-select: none;
}

.link_detail_information {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: start;
  white-space: pre-line;
}

.link_detail_a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: start;
  transition: all 0.2s;
  cursor: pointer;
}

.link_detail_a:hover {
  text-decoration: underline;
  color: #6d6d6d;
}

.sharing_id_modal_background {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background-color: #33333380;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  visibility: hidden;
}

.sharing_id_modal_container {
  width: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px #33333380;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
  padding: 40px 20px;
}

.checkbox_wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.checkbox_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.checkbox_input {
  display: none;
}

.checkbox_span {
  width: 14px;
  height: 14px;
  border: 2px solid #A7C7E7;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.checkbox_input:checked + .checkbox_span {
  background-color: #A7C7E7;
}

.checkbox_input:checked + .checkbox_span::after {
  content: "";
  position: absolute;
  left: 1px;
  top: -2px;
  width: 6px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 1040px) {
  .link_detail_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
  }
  
  .link_detail_lane {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
  }
  
  .link_detail_lane_expired {
    font-size: 1rem;
    font-weight: 700;
    user-select: none;
  }
  
  .link_detail_information {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: start;
    white-space: pre-line;
  }
  
  .link_detail_a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: start;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .link_detail_a:hover {
    text-decoration: underline;
    color: #6d6d6d;
  }
  
  .sharing_id_modal_background {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: #33333380;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    visibility: hidden;
  }
  
  .sharing_id_modal_container {
    width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px #33333380;
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
    padding: 40px 20px;
  }
  
  .checkbox_wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
  }
  
  .checkbox_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .checkbox_input {
    display: none;
  }
  
  .checkbox_span {
    width: 14px;
    height: 14px;
    border: 2px solid #A7C7E7;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
  }
  
  .checkbox_input:checked + .checkbox_span {
    background-color: #A7C7E7;
  }
  
  .checkbox_input:checked + .checkbox_span::after {
    content: "";
    position: absolute;
    left: 1px;
    top: -2px;
    width: 6px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}